.page-header-inner
  // BEGIN LOGO
  .page-logo
    a(href='index.html')
      img.logo-default(src='assets/layouts/layout/img/logo.png', alt='logo')
    .menu-toggler.sidebar-toggler
      span
  a.menu-toggler.responsive-toggler(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse')
    span
  .top-menu
    ul.nav.navbar-nav.pull-right
      li.dropdown.dropdown-user
        a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
          img.img-circle(alt='', src='assets/layouts/layout/img/avatar3_small.jpg')
          span.username.username-hide-on-mobile  {{NOME DO USUARIO}}
          i.fa.fa-angle-down
        ul.dropdown-menu.dropdown-menu-default
          li
            a(href='page_user_profile_1.html')
              i.icon-user
              | Configurações
          li
            a(href='page_user_login_1.html')
              i.icon-key
              | Sair
  
