.page-header-inner
  // BEGIN LOGO
  .page-logo
    a(href='index.html')
      img.logo-default(src='assets/images/google-developers.png', alt='logo' style='max-width:150px;')
    .menu-toggler.sidebar-toggler
      span
  a.menu-toggler.responsive-toggler(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse')
    span
  .top-menu
    ul.nav.navbar-nav.pull-right
      li.dropdown.dropdown-user
        a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
          img.img-circle(alt='', src='assets/images/ciro-nunes.jpg')
          span.username.username-hide-on-mobile  Ciro Nunes 
            i.fa.fa-angle-down
        ul.dropdown-menu.dropdown-menu-default
          li
            a(href='javascript:;')
              i.icon-user
              | Configurações
          li
            a(href='javascript:;')
              i.icon-key
              | Sair
  
