meta(charset='utf-8')
title Devfest Dashboard
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(content='width=device-width, initial-scale=1', name='viewport')
meta(content='', name='description')
meta(content='', name='author')

// BEGIN GLOBAL MANDATORY STYLES
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
link(href='assets/fonts/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
link(href='assets/fonts/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
link(href='assets/styles/bootstrap.min.css', rel='stylesheet', type='text/css')
link(href='assets/styles/datatables.min.css', rel='stylesheet', type='text/css')
link(href='assets/styles/datatables.bootstrap.css', rel='stylesheet', type='text/css')

// BEGIN THEME LAYOUT STYLES
link(href='assets/styles/layout.min.css', rel='stylesheet', type='text/css')
link#style_color(href='assets/styles/darkblue.min.css', rel='stylesheet', type='text/css')
link(href='assets/styles/custom.min.css', rel='stylesheet', type='text/css')
link(href='assets/styles/components.min.css', rel='stylesheet', type='text/css')
link(href='assets/styles/plugins.min.css', rel='stylesheet', type='text/css')


// END THEME LAYOUT STYLES
link(rel='shortcut icon', href='favicon.ico')
