extends layouts/default

block content
  h1.page-title
    | Blank Page Layout
    small blank page layout
  .note.note-info
    p
      | A black page template with a minimal dependency assets to use as a base for any custom page you create
